.hidden {
    visibility: hidden;
}

.loaded {
    visibility: visible;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    line-height: 22px;
    font-size: 14px;
    font-weight: 300;
}

.text-box h1{
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 14px;
    font-size: 14px;
    color: #fff;
}


@media(max-width: 700px){

    .text-box h1{
        font-size: 40px;
    }

    .text-box p {
        display: none;
    }

    .btn-know {
        margin-top: 20px;
    }

}

.btn-know{
    padding: 12px 34px;
    font-size: 13px;
    transition: 0.5s;
}
.btn-know:hover {
    background: #198754;
    border-color: #198754;
    color: #fff;
}


.service-col:hover{
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.2);
}

.service-col {
    background: #fff3f3;
    border-radius: 10px;
    transition: 0.5s;
}

.service-col:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.repair-col {
    cursor: pointer;
    transition: all .5s ease;
}

.repair-col:hover {
    transform: translateY(-10px);
}

