.vh-80 {
    height: 63vh;
}

.icon {
    width: 80px;
    height: 100px;
}

.face {
    width: 80px;
    height: 80px;
}

.person {
    top: -40px;
    left: 10px;
    width: 60px;
    height: 60px;
}

.person::before {
    content: '';
    width: 30px;
    height: 10px;
    background-color: #4a90e2;
    border-radius: 50%;
    position: absolute;
}
