.sub-header h1 {
    font-size: 2.5rem;
    font-weight: 600;
}


@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.block {
    animation: appear 1s ease-out forwards;
}

.img-fluid {
    max-height: 300px; /* Ajusta esta altura según tus necesidades */
    min-width: 400px;
    object-fit: cover; /* Mantiene las proporciones de la imagen */
    margin: auto;
}

.row.align-items-center {
    display: flex;
    align-items: center;
}

.text-justify {
    text-align: justify;
}
/* 
@media (max-width: 900px) {
    .img-fluid {
        width: 200px;
    }
    
} */
